#bio_container{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.bio_content{
    display: block;
    color: white;
    width: 100%;
    margin: auto;
    box-shadow: 0px 0px 5px 5px #1d1d1d;
    border-radius: 5px;
    padding: 20px;
}

@media screen and (max-width: 800px) {
    .bio_content {
        width: 90%;
        line-height: 25px;
        padding: 20px;
    }
}